

body {
    background-image: url("field.jpeg");
    background-size: cover;
    background-position: center center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    display: flex;
}

.counter-wrapper{
    max-width: 80%;
    width: 700px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px 10px black;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: whitesmoke;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#increment-btn {
    background: #990000;
}

#save-btn {
    background: #329900;
}

#decrement-btn{
    background: #383838;
}
