*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("field.jpeg");
    background-size: cover;
    background-position: center center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8rem;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.counter-wrapper{
    max-width: 600px;
    width: 70%;
    background-color: whitesmoke;
    margin: 10px auto;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 0px 15px 10px black;
    
}

h1 {
    font-size: 1.5rem;
    color: #990000;
}

h2 {
    font-size: 1.3rem;
    margin: .5em 0;
}

h3 {
    font-size: 1.2rem;
    margin: .5em 0;
    
}

h4 {
    font-size: 1.1rem;   
    
}

p {
    font-size: 1rem;
    margin: .5em 0;
}

button {
    cursor: pointer;
    font-size: 0.7rem;
}

#count-el {
    font-size: 1.2rem;
}



.start-btn {
    border: none;
    padding: .5em 1em;
    color: whitesmoke;
    background: #329900;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
}

.rouded-btn {
    border-radius: 50%;
    border: 1px solid darkgrey;
    background-color: whitesmoke;
}


.session-controls,
.break-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.control-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* 
background: #283838;


*/

.timer-controls button,
.stop-alert-btn {
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
}

.mode-btn {
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    margin-top: 10px;
    background-color: grey;
    color: white;
}

.red {
    color: #990000;
}

.green {
    color: #329900;
}

.celebration-message {
    display: inline-block;
    font-weight: bold;
}

@media (max-width: 260px) {
    .counter-wrapper {
        width: 90%;
    }
    .control-wrapper {
        flex-direction: column;
    }
}